<ul class="nav">
  {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'userProfile' user.id %}">Hello, {{ user.username }}</a>
    </li>
    {% if user.is_superuser %}
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'admin:index' %}">Admin</a>
    </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'logout' %}">Logout</a>
    </li>
  {% else %}
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'login' %}">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'register' %}">Register</a>
    </li>
  {% endif %}
    <br>

    <br>
    <li href="home" class="nav-item">
        <a class="nav-link active" href="{% url 'home' %}">Home</a>
    </li>
    {% for theme in themes %}
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'themePage' theme.id %}">{{theme.name}}</a>
    </li>
    {% endfor %}

    {% if user.is_authenticated %}
    <li>
         <a class="nav-link active" href="{% url 'createPoll' %}">Create a poll</a>
    </li>
    {% endif %}
</ul>




